{% extends "layout.html" %}
{% block content %}
<style>
  a.m_title {
    text-transform: uppercase;
  }
  .a_middle{
    vertical-align:middle!important;
  }
  thead{
    background-color: #192868;
    color:#ffff
  }
  .btn-color{
    background-color: #192868;
    color:#fff
  }
  #example_filter{
    float: left;
  }
  #example_length{
    float:right
  }
  div.dt-buttons {
    position: relative;
    float: right;
    margin-right:40px
  }
</style>
<h4>
    DETAIL DATA CLASS <a class="m_title">{{flagging}}</a>
</h4>
<div class="card mb-2">

  <div class="card-body">
    <div class="row">

      <div class="col-md-4">
        <div class="form-group">
            <select class="form-control" name="portal_select" id="portal_select">
              <option value="ALL"   {% if portal == 'ALL' %} selected {% endif %}>All News Portal</option>
              <option value="TEMPO" {% if portal == 'TEMPO' %} selected {% endif %}>Tempo</option>
              <option value="DETIK" {% if portal == 'DETIK' %} selected {% endif %}>Detik</option>
              <option value="CNBC"  {% if portal == 'CNBC' %}selected {% endif %}>CNBC</option>
            </select>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-color btn-block btn-search" >Search</button>
      </div>
    </div>
  </div>
 
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="example">
        
      </table>
    </div>
  </div>
</div>


<script>
  $(document).ready( function () {
    function myFunc(vars) {
      return vars
    }
    myVar = myFunc({{data|tojson}})
    baseUrl   = '{{baseUrl}}'

    $('.btn-search').on('click', function(){
      portal = $('#portal_select').val()
      
      location.href = baseUrl+'/detailclass?class='+'{{flagging}}'+'&portal='+portal;

    })

    

    var data = myVar
    var table = $('#example').DataTable({
      columns: [
          {   name: 'url',
              title: 'No'
          },
          {
              name: 'portal',
              title: 'Portal',
              "className" : "a_middle text-center",

          },
          {
              name: 'judul',
              title: 'Title',
              "className" : "a_middle text-center",

          },
          {   name:'publis_date',
              title: 'Publish Date',
              "className" : "a_middle text-center",

          },
          {   name:'kalimat',
              title: 'Sentence',
              "className" : "a_middle text-center",

          },
          {   name:'flagging',
              title: 'Class',
              "className" : "a_middle text-center",

          },
          {   name:'action',
              title: 'Action',
          },
      ],
      data: data,
      rowsGroup: [
        'url:name',
        'portal:name',
        'judul:name',
        'publis_date:name',
        'action:name',
      ],
      lengthMenu  : [[100, 200, 300, -1], [100, 200, 300, "All"]],
      pageLength: '100',
      //dom: 'Bfrtip',
      //"dom": '<"wrapper"flipt>'
      dom: '<"top"flB>rt<"bottom"ip><"clear">',

        buttons: [
        {
          extend: 'excel',
          text: 'Export to excel',
          className: 'btn btn-color btn-xs'
        },
        {
          extend: 'csv',
          text: 'Export to CSV',
          className: 'btn btn-color btn-xs'
        }
        ],
      columnDefs :[
        {
            width: '20px',
            targets: 0,
            visible: false
        },
        {
            width: '10px',
            targets: 1,
            visible: true
        },
        {
            width: '150px',
            targets: 2,
            visible: true
        },
        {
            width: '25px',
            targets: 3,
            visible: true
        },
        {
          "mRender": function ( data, type, row ) {
              $rowdata = ''
              if(data == '0'){
                $rowdata = '<span class="badge badge-info">Netral</span>'
              }else if(data == '1'){
                $rowdata = '<span class="badge badge-primary">Positive</span>'

              }else if(data == '2'){
                $rowdata = '<span class="badge badge-danger">Negative</span>'

              }

              return $rowdata;
          },
          targets: 5,
          visible: true
        },
        {
          "mRender": function ( data, type, row ) {
              $rowdata = '<button class="btn btn-color" onClick="detailberita(\''+data+'\')">Detail News</button>'

              return $rowdata;
          },
          "className" : "a_middle",
          "aTargets": [ 6 ]
        },

      ]
    });
  
    
  })

  function detailberita(berita_id){
    location.href = (baseUrl+'/'+'detailBerita'+'?berita='+berita_id)
  }
</script>
{% endblock %}