{% extends "layout.html" %}
{% block content %}
<style>
  a.m_title {
    text-transform: uppercase;
  }
</style>
<h4>
    DETAIL DATA CLASS <a class="m_title">{{flagging}}</a>
</h4>
<div class="card mb-2">

  <div class="card-body">
    <div class="row">

      <div class="col-md-4">
        <div class="form-group">
            <select class="form-control" name="portal_select" id="portal_select">
              <option value="ALL"   {% if portal == 'ALL' %} selected {% endif %}>Semua Portal Berita</option>
              <option value="TEMPO" {% if portal == 'TEMPO' %} selected {% endif %}>Tempo</option>
              <option value="DETIK" {% if portal == 'DETIK' %} selected {% endif %}>Detik</option>
              <option value="PR"    {% if portal == 'PR' %}selected {% endif %}>PR</option>
              <option value="CNBC"  {% if portal == 'CNBC' %}selected {% endif %}>CNBC</option>
            </select>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-info btn-block btn-search" >Cari</button>
      </div>
    </div>
  </div>
 
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="example"></table>
    </div>
  </div>
</div>


<script>
  $(document).ready( function () {
    function myFunc(vars) {
      return vars
    }
    myVar = myFunc({{data|tojson}})
    baseUrl   = '{{baseUrl}}'

    $('.btn-search').on('click', function(){
      portal = $('#portal_select').val()
      
      window.location.href = baseUrl+'/detailclass?class='+'{{flagging}}'+'&portal='+portal;

    })

    

    var data = myVar
    var table = $('#example').DataTable({
      columns: [
          {   name: 'url',
              title: 'No',
          },
          {
              name: 'portal',
              title: 'Portal',
          },
          {
              name: 'judul',
              title: 'Judul',
          },
          {   name:'publis_date',
              title: 'Tanggal',
          },
          {   name:'kalimat',
              title: 'Kalimat',
          },
          {   name:'flagging',
              title: 'Class',
          },
          {   name:'action',
              title: 'Action',
          },
      ],
      data: data,
      rowsGroup: [
        'url:name',
        'portal:name',
        'judul:name',
        'publis_date:name',
        'action:name',
      ],
      lengthMenu  : [[100, 200, 300, -1], [100, 200, 300, "All"]],
      pageLength: '100',
      columnDefs :[
        {
            width: '20px',
            targets: 0,
            visible: false
        },
        {
            width: '10px',
            targets: 1,
            visible: true
        },
        {
            width: '150px',
            targets: 2,
            visible: true
        },
        {
            width: '25px',
            targets: 3,
            visible: true
        },
        {
          "mRender": function ( data, type, row ) {
              $rowdata = '<button class="btn btn-info" onClick="detailberita(\''+data+'\')">Detail Berita</button>'

              return $rowdata;
          },
          "aTargets": [ 6 ]
        },
      ]
    });
  
    
  })

  function detailberita(berita_id){
    window.open(baseUrl+'/'+'detailBerita'+'?berita='+berita_id)
  }
</script>
{% endblock %}