{% extends "layout.html" %}
{% block content %}
<style>
  a.m_title {
    text-transform: uppercase;
  }
  .a_middle{
    vertical-align:middle!important;
  }
  thead{
    background-color: #192868;
    color:#ffff
  }
  .btn-color{
    background-color: #192868;
    color:#fff
  }
  #example_filter{
    float: left;
  }
  #example_length{
    float:right
  }
  div.dt-buttons {
    position: relative;
    float: right;
    margin-right:40px
  }

</style>
<h4>
    <strong>DETAIL DATA FITUR "<a class="m_title">{{sentence}}</a>"</strong>
</h4>
<div class="card mb-2">

  <div class="card-body">
    <div class="row">

      <div class="col-md-4">
        <div class="form-group">
            <select class="form-control" name="portal_select" id="portal_select">
              <option value="all"   {% if p_portal == 'all' %} selected {% endif %}>Semua Portal Berita </option>
              <option value="TEMPO" {% if p_portal == 'TEMPO' %} selected {% endif %}>Tempo</option>
              <option value="DETIK" {% if p_portal == 'DETIK' %} selected {% endif %}>Detik</option>
              <option value="CNBC"  {% if p_portal == 'CNBC' %}selected {% endif %}>CNBC</option>
            </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
            <select class="form-control" name="class_select" id="class_select">
              <option value="all"   {% if p_class == 'all' %} selected {% endif %}>Semua Kelas</option>
              <option value="1"     {% if p_class == '1' %} selected {% endif %}>Positif</option>
              <option value="2"     {% if p_class == '2' %} selected {% endif %}>Negatif</option>
              <option value="0"     {% if p_class == '0' %}selected {% endif %}>Netral</option>
            </select>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-info btn-color btn-search" >Cari</button>
      </div>
    </div>
  </div>
 
</div>
<div class="alert alert-info alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
  <strong>Menampilkan kalimat berita yang mengandung fitur <span class="text-danger">'{{sentence}}'<span>  </strong>
</div>


<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="example"></table>
    </div>
  </div>
</div>


<script>
  $(document).ready( function () {
    function myFunc(vars) {
      return vars
    }
    myVar = myFunc({{data|tojson}})
    baseUrl   = '{{baseUrl}}'
    
    $('.btn-search').on('click', function(){
      portal = $('#portal_select').val()
      class_select = $('#class_select').val()
      
      location.href = baseUrl+'/feature?sentence='+'{{sentence}}'+'&portal='+portal+'&class='+class_select;

    })


    var data = myVar
    var table = $('#example').DataTable({
      columns: [
          {   
            name: 'url',
            title: 'No',
          },
          {
            name: 'portal',
            title: 'Portal',
          },
          {
            name: 'judul',
            title: 'Judul',
          },
          {   
            name:'kalimat',
            title: 'Kalimat Setelah Praproses',
          },
          {   
            name:'flagging',
            title: 'Kelas',
          },
          {   
            name:'action',
            title: 'Aksi',
          }
      ],
      data: data,
      rowsGroup: [
        'portal:name',
        'judul:name',
        'action:name'
      ],
      lengthMenu  : [[100, 200, 300, -1], [100, 200, 300, "All"]],
      pageLength: '100',
      dom: '<"top"flB>rt<"bottom"ip><"clear">',
      buttons: [
        {
          extend: 'excel',
          text: 'Export excel',
          className: 'btn btn-color btn-xs'
        },
        {
          extend: 'csv',
          text: 'Export CSV',
          className: 'btn btn-color btn-xs'
        }
      ],
      columnDefs :[
        {
            width: '20px',
            targets: 0,
            visible: false
        },
        {
            width: '10px',
            targets: 1,
            visible: true
        },
        {
            width: '150px',
            targets: 2,
            visible: true
        },
        {
          "mRender": function ( data, type, row ) {

              $rowdata = data.split(' ').map(function(cell, i){
                if(cell == '{{sentence}}'){
                  cell = '<span class="text-danger">'+cell+'</span>'
                }
                return cell
              }).join(' ');

              return $rowdata;
          },
          targets: 3,
          visible: true
        },
        {
          "mRender": function ( data, type, row ) {
              $rowdata = ''
              if(data == '0'){
                $rowdata = '<span class="badge badge-info">Netral</span>'
              }else if(data == '1'){
                $rowdata = '<span class="badge badge-primary">Positif</span>'

              }else if(data == '2'){
                $rowdata = '<span class="badge badge-danger">Negatif</span>'

              }

              return $rowdata;
          },
          targets: 4,
          visible: true
        },
        {
          "mRender": function ( data, type, row ) {
              $rowdata = '<button class="btn btn-color" onClick="detailberita(\''+data+'\')">Detail Berita</button>'

              return $rowdata;
          },
          "className" : "a_middle",
          "aTargets": [ 5 ]
        },
      ]
    });
  
    
  })

  function detailberita(berita_id){
    location.href = baseUrl+'/'+'detailBerita'+'?berita='+berita_id
  }
</script>
{% endblock %}