{% extends "main_layout.html" %}
{% block content %}
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }
  
    .tab button {
        background-color: #ffff;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        text-align: center;
        width: 50%;
    }

    .tab button:hover {
        background-color: #ddd;
    }
        
    .tab button.active {
        background-color: #28a745;
    }
      
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<h4>Klasifikasi</h4>
<div class="row">
    <div class="col-md-12">
        <div class="card">  
            
            <div class="card-body">
               

                <div class="tab">
                    <button class="tablinks active" onclick="openCity(event, 'London')">Input By Text</button>
                    <button class="tablinks" onclick="openCity(event, 'Paris')">Input By URL</button>
                </div>
                
                <div id="London" class="tabcontent">
                    <h5>Input By Text</h5>
                    <form action="{{ url_for('handle_klasifikasi') }}" method="post">

                        <div class="form-group">
                            <textarea class="form-control" name="kalimat_berita" id="kalimat_berita" cols="30" rows="10" required placeholder="Masukan Kalimat berita"></textarea>
                        </div>
    
                        <div class="col-md-12 text-center mt-3">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
    
                    </form>
                </div>
                
                <div id="Paris" class="tabcontent">
                    <h5>Input By URL</h5>
                    <form action="{{ url_for('handle_klasifikasi_url') }}"  method="post">
                        <div class="form-group">
                            <input class="form-control" type="url" name="url_berita" id="url_berita" placeholder="Masukan URL Berita" required>
                            <div class="text-muted">URL hanya dapat diisi oleh url berita Detik, Tempo, dan CNN</div>
                        </div>

                        <div class="col-md-12 text-center mt-3">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                
                
                
                <!-- -->
            </div>
        </div>
    </div>
</div>

<script>
    $('#London').show()
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
<!-- <p>Ini About</p> -->
{% endblock %}